<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ht.ihsi.rgph.mobile">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppMyTheme_NoActionBar">
        <activity
            android:name=".epc.views.activity.BatimentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".epc.views.activity.DisplayListActivity"
            android:label="@string/title_activity_display_list"
            android:parentActivityName=".epc.views.activity.BatimentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".epc.views.activity.DisplayExpandableListActivity"
            android:label="@string/title_activity_display_list"
            android:parentActivityName=".epc.views.activity.BatimentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".epc.views.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.QuestionnaireBatimentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.QuestionnaireLogementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.QuestionnaireIndividuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.QuestionnaireMenageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.QuestionnaireEmigreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.QuestionnaireDecesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.Settings.SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/label_settings"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" />
        <!--
            <activity android:name=".views.activity.LogementTabMgrActivity"
            android:screenOrientation="portrait"  />
        -->
        <activity
            android:name=".epc.views.activity.MenageActivity"
            android:screenOrientation="portrait" />
        <!--
            <activity android:name=".views.activity.IndividuEmigreDecesTabMgrActivity"
            android:screenOrientation="portrait"  />
        -->

        <receiver
            android:name=".epc.services.ReceiverStartup"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".epc.views.activity.DisplayDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epc.views.activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppMyTheme_NoActionBar"></activity>
        <activity android:name=".epc.views.security.FormulaireUtilisateur"></activity>
    </application>

</manifest>